body{
    background-color: dodgerblue;
}

header {
    background-color: lightsalmon;
    text-align: center;
    text-size-adjust: 120;
  }
  p { 
    font-size: 20px;
 }
.introdução {

}