body{
    background-color: dodgerblue;
}
h1 {
    padding: 16px;
}
header {
    background-color: lightsalmon;
    text-align: center;
    text-size-adjust: 120;
  }
  p { 
    font-size: 20px;
 }
.introdução {

}