body{
    background-color: dodgerblue;
}

h1 {
    padding: 10px;
}

h2 {
    font-size: 34px;
}

p{
    font-size: 26px;
}

header {
    background-color: lightsalmon;
    text-align: center;
    font-size: 28px;
    padding: 8px;
  }

  .imagem1 {
    width: 30%;
    padding-left: 33%;
}

.imagem2 {
    width: 30%;
    padding-left: 33%;
}

.imagem3 {
    width: 30%;
    padding-left: 33%;
}

.imagem4 {
    width: 55%;
    padding-left: 21%;
}

.imagem5 {
    width: 30%;
    padding-left: 33%;
}

.imagem6 {
    width: 30%;
    padding-left: 33%;
}

.imagem7 {
    width: 30%;
    padding-left: 33%;
}

